/* Write your CSS here! */
.font-color {
    color:red;
}
.funParagraph{
    font-size: 15px;
}
.fontSize {
    font-size: 20px;
}
.centerText{
    text-align: center;
}
.overall-style {
    display: block;
    margin:8px;
}
#mainHeading {
    color: red;
}